# women's criket 20-20 world cup 2023 match i am picking best 11 based on the performance of the world cup

it is end to end project 
1first i am extrac data from espn cricinfo website
2second store the that data to csv
3third cleaning the data
4fourth analysising the data
5fifth creating dashbord

## first i am going to extrac data from espn website

''' These are important librarys to import for these project 
beautifulsoup4              used for web scraping
requests                    used for html file
csv                         used for csv converting
pandas                      used for dataframe work 

'''

In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd

### extrac batting performance

In [2]:
#The first link all about most runs getter in the series 
#I used espn cricinfo website link

req=requests.get("https://stats.espncricinfo.com/ci/engine/records/batting/most_runs_career.html?id=15029;type=tournament")
#with the help of request i get html  data 
soup=BeautifulSoup(req.content,"html.parser")
#with the help of bs4 i parser the html file
table=soup.table # table is used here for store the table content
#print(table) if you to see that please print that
thead=table.find("thead").find_all('th') #using find function for find table head 
print(thead)

[<th class="left" nowrap="nowrap" title="player name">Player</th>, <th class="padAst" nowrap="nowrap" title="matches played">Mat</th>, <th nowrap="nowrap" title="innings batted">Inns</th>, <th nowrap="nowrap" title="not outs">NO</th>, <th nowrap="nowrap" title="runs scored"><b>Runs</b></th>, <th class="padAst" nowrap="nowrap" title="highest inns score">HS</th>, <th nowrap="nowrap" title="batting average">Ave</th>, <th nowrap="nowrap" title="balls faced">BF</th>, <th nowrap="nowrap" title="batting strike rate">SR</th>, <th nowrap="nowrap" title="hundreds scored">100</th>, <th nowrap="nowrap" title="fifties scored">50</th>, <th nowrap="nowrap" title="ducks scored">0</th>, <th nowrap="nowrap" title="boundary fours">4s</th>, <th nowrap="nowrap" title="boundary sixes">6s</th>]

In [3]:
table_head= [th.text for th in thead]     #using for loop to extrac the table head put that into list
print(table_head)

['Player', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100', '50', '0', '4s', '6s']

In [4]:
table_body = table.find("tbody").find_all("tr")    #here i am using find for find table body
print(table_body)

[<tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 1"><a class="data-link" href="/ci/content/player/922481.html">L Wolvaardt</a> (SA-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">6</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap"><b>230</b></td>
<td nowrap="nowrap">66*</td>
<td nowrap="nowrap">46.00</td>
<td nowrap="nowrap">216</td>
<td nowrap="nowrap">106.48</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">3</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">22</td>
<td nowrap="nowrap">5</td>
</tr>, <tr class="data1" data-days="738940">
<td class="left" nowrap="nowrap" title="record rank: 2"><a class="data-link" href="/ci/content/player/515905.html">Nat Sciver-Brunt</a> (ENG-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">2</td>
<td nowrap="nowrap"><b>216</b></td>
<td nowrap="nowrap">81*</td>
<td nowrap="nowrap">72.00</td>
<td nowrap="nowrap">153</td>
<td nowrap="nowrap">141.17</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">2</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">28</td>
<td nowrap="nowrap">2</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 3"><a class="data-link" href="/ci/content/player/381258.html">BL Mooney</a> (AUS-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">6</td>
<td nowrap="nowrap">2</td>
<td nowrap="nowrap"><b>206</b></td>
<td nowrap="nowrap">74*</td>
<td nowrap="nowrap">51.50</td>
<td nowrap="nowrap">175</td>
<td nowrap="nowrap">117.71</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">3</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">26</td>
<td nowrap="nowrap">2</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 4"><a class="data-link" href="/ci/content/player/275486.html">AJ Healy</a> (AUS-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap"><b>189</b></td>
<td class="padAst" nowrap="nowrap">55</td>
<td nowrap="nowrap">47.25</td>
<td nowrap="nowrap">163</td>
<td nowrap="nowrap">115.95</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">2</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">25</td>
<td nowrap="nowrap">2</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 5"><a class="data-link" href="/ci/content/player/600731.html">T Brits</a> (SA-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">6</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap"><b>186</b></td>
<td class="padAst" nowrap="nowrap">68</td>
<td nowrap="nowrap">37.20</td>
<td nowrap="nowrap">179</td>
<td nowrap="nowrap">103.91</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">2</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">19</td>
<td nowrap="nowrap">3</td>
</tr>, <tr class="data1" data-days="738939">
<td class="left" nowrap="nowrap" title="record rank: 6"><a class="data-link" href="/ci/content/player/597806.html">S Mandhana</a> (IND-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>151</b></td>
<td class="padAst" nowrap="nowrap">87</td>
<td nowrap="nowrap">37.75</td>
<td nowrap="nowrap">109</td>
<td nowrap="nowrap">138.53</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">2</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">18</td>
<td nowrap="nowrap">4</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 7"><a class="data-link" href="/ci/content/player/329336.html">MM Lanning</a> (AUS-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">2</td>
<td nowrap="nowrap"><b>149</b></td>
<td nowrap="nowrap">49*</td>
<td nowrap="nowrap">49.66</td>
<td nowrap="nowrap">131</td>
<td nowrap="nowrap">113.74</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">16</td>
<td nowrap="nowrap">2</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 8"><a class="data-link" href="/ci/content/player/54565.html">SW Bates</a> (NZ-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap"><b>137</b></td>
<td nowrap="nowrap">81*</td>
<td nowrap="nowrap">45.66</td>
<td nowrap="nowrap">113</td>
<td nowrap="nowrap">121.23</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">2</td>
<td nowrap="nowrap">2</td>
<td nowrap="nowrap">13</td>
<td nowrap="nowrap">1</td>
</tr>, <tr class="data1" data-days="738939">
<td class="left" nowrap="nowrap" title="record rank: 9"><a class="data-link" href="/ci/content/player/1212830.html">RM Ghosh</a> (IND-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">3</td>
<td nowrap="nowrap"><b>136</b></td>
<td nowrap="nowrap">47*</td>
<td nowrap="nowrap">68.00</td>
<td nowrap="nowrap">104</td>
<td nowrap="nowrap">130.76</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">15</td>
<td nowrap="nowrap">2</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 10"><a class="data-link" href="/ci/content/player/474308.html">HK Matthews</a> (WI-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap"><b>130</b></td>
<td nowrap="nowrap">66*</td>
<td nowrap="nowrap">43.33</td>
<td nowrap="nowrap">112</td>
<td nowrap="nowrap">116.07</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">19</td>
<td nowrap="nowrap">1</td>
</tr>, <tr class="data1" data-days="738939">
<td class="left" nowrap="nowrap" title="record rank: 11"><a class="data-link" href="/ci/content/player/883405.html">JI Rodrigues</a> (IND-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap"><b>129</b></td>
<td nowrap="nowrap">53*</td>
<td nowrap="nowrap">32.25</td>
<td nowrap="nowrap">95</td>
<td nowrap="nowrap">135.78</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">17</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738937">
<td class="left" nowrap="nowrap" title="record rank: 12"><a class="data-link" href="/ci/content/player/924177.html">Nigar Sultana</a> (BD-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>123</b></td>
<td class="padAst" nowrap="nowrap">57</td>
<td nowrap="nowrap">30.75</td>
<td nowrap="nowrap">132</td>
<td nowrap="nowrap">93.18</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">10</td>
<td nowrap="nowrap">1</td>
</tr>, <tr class="data1" data-days="738937">
<td class="left" nowrap="nowrap" title="record rank: 13"><a class="data-link" href="/ci/content/player/941795.html">Muneeba Ali</a> (PAK-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>122</b></td>
<td class="padAst" nowrap="nowrap">102</td>
<td nowrap="nowrap">30.50</td>
<td nowrap="nowrap">103</td>
<td nowrap="nowrap">118.44</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">15</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738940">
<td class="left" nowrap="nowrap" title="record rank: 14"><a class="data-link" href="/ci/content/player/254168.html">DN Wyatt</a> (ENG-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>120</b></td>
<td class="padAst" nowrap="nowrap">59</td>
<td nowrap="nowrap">24.00</td>
<td nowrap="nowrap">86</td>
<td nowrap="nowrap">139.53</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">16</td>
<td nowrap="nowrap">3</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 15"><a class="data-link" href="/ci/content/player/557839.html">H Madavi</a> (SL-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap"><b>119</b></td>
<td nowrap="nowrap">69*</td>
<td nowrap="nowrap">39.66</td>
<td nowrap="nowrap">124</td>
<td nowrap="nowrap">95.96</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">12</td>
<td nowrap="nowrap">1</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 16"><a class="data-link" href="/ci/content/player/318853.html">AMCJK Athapaththu</a> (SL-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>118</b></td>
<td class="padAst" nowrap="nowrap">68</td>
<td nowrap="nowrap">29.50</td>
<td nowrap="nowrap">104</td>
<td nowrap="nowrap">113.46</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">19</td>
<td nowrap="nowrap">1</td>
</tr>, <tr class="data1" data-days="738939">
<td class="left" nowrap="nowrap" title="record rank: 16"><a class="data-link" href="/ci/content/player/372317.html">H Kaur</a> (IND-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>118</b></td>
<td class="padAst" nowrap="nowrap">52</td>
<td nowrap="nowrap">23.60</td>
<td nowrap="nowrap">114</td>
<td nowrap="nowrap">103.50</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">11</td>
<td nowrap="nowrap">1</td>
</tr>, <tr class="data1" data-days="738936">
<td class="left" nowrap="nowrap" title="record rank: 18"><a class="data-link" href="/ci/content/player/774347.html">GH Lewis</a> (IRE-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap"><b>116</b></td>
<td class="padAst" nowrap="nowrap">38</td>
<td nowrap="nowrap">38.66</td>
<td nowrap="nowrap">111</td>
<td nowrap="nowrap">104.50</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">17</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 19"><a class="data-link" href="/ci/content/player/803971.html">AC Kerr</a> (NZ-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>113</b></td>
<td class="padAst" nowrap="nowrap">66</td>
<td nowrap="nowrap">28.25</td>
<td nowrap="nowrap">103</td>
<td nowrap="nowrap">109.70</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">12</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 20"><a class="data-link" href="/ci/content/player/858809.html">A Gardner</a> (AUS-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">2</td>
<td nowrap="nowrap"><b>110</b></td>
<td class="padAst" nowrap="nowrap">31</td>
<td nowrap="nowrap">36.66</td>
<td nowrap="nowrap">92</td>
<td nowrap="nowrap">119.56</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">12</td>
<td nowrap="nowrap">2</td>
</tr>, <tr class="data1" data-days="738936">
<td class="left" nowrap="nowrap" title="record rank: 21"><a class="data-link" href="/ci/content/player/1150585.html">O Prendergast</a> (IRE-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>109</b></td>
<td class="padAst" nowrap="nowrap">61</td>
<td nowrap="nowrap">27.25</td>
<td nowrap="nowrap">87</td>
<td nowrap="nowrap">125.28</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">12</td>
<td nowrap="nowrap">2</td>
</tr>, <tr class="data1" data-days="738940">
<td class="left" nowrap="nowrap" title="record rank: 21"><a class="data-link" href="/ci/content/player/358259.html">HC Knight</a> (ENG-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap"><b>109</b></td>
<td nowrap="nowrap">32*</td>
<td nowrap="nowrap">27.25</td>
<td nowrap="nowrap">99</td>
<td nowrap="nowrap">110.10</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">9</td>
<td nowrap="nowrap">3</td>
</tr>, <tr class="data1" data-days="738939">
<td class="left" nowrap="nowrap" title="record rank: 23"><a class="data-link" href="/ci/content/player/1182523.html">Shafali Verma</a> (IND-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>102</b></td>
<td class="padAst" nowrap="nowrap">33</td>
<td nowrap="nowrap">20.40</td>
<td nowrap="nowrap">94</td>
<td nowrap="nowrap">108.51</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">14</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738940">
<td class="left" nowrap="nowrap" title="record rank: 24"><a class="data-link" href="/ci/content/player/515874.html">AE Jones</a> (ENG-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>101</b></td>
<td class="padAst" nowrap="nowrap">47</td>
<td nowrap="nowrap">25.25</td>
<td nowrap="nowrap">73</td>
<td nowrap="nowrap">138.35</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">9</td>
<td nowrap="nowrap">3</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 25"><a class="data-link" href="/ci/content/player/260229.html">Bismah Maroof</a> (PAK-W)</td>
<td class="padAst" nowrap="nowrap">3</td>
<td nowrap="nowrap">3</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap"><b>98</b></td>
<td nowrap="nowrap">68*</td>
<td nowrap="nowrap">49.00</td>
<td nowrap="nowrap">94</td>
<td nowrap="nowrap">104.25</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">9</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 26"><a class="data-link" href="/ci/content/player/424631.html">SA Campbelle</a> (WI-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>94</b></td>
<td class="padAst" nowrap="nowrap">34</td>
<td nowrap="nowrap">23.50</td>
<td nowrap="nowrap">109</td>
<td nowrap="nowrap">86.23</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">9</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 27"><a class="data-link" href="/ci/content/player/499247.html">B Bezuidenhout</a> (NZ-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>90</b></td>
<td class="padAst" nowrap="nowrap">44</td>
<td nowrap="nowrap">22.50</td>
<td nowrap="nowrap">58</td>
<td nowrap="nowrap">155.17</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">13</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 28"><a class="data-link" href="/ci/content/player/453370.html">CL Tryon</a> (SA-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>79</b></td>
<td class="padAst" nowrap="nowrap">40</td>
<td nowrap="nowrap">15.80</td>
<td nowrap="nowrap">73</td>
<td nowrap="nowrap">108.21</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">10</td>
<td nowrap="nowrap">1</td>
</tr>, <tr class="data1" data-days="738940">
<td class="left" nowrap="nowrap" title="record rank: 29"><a class="data-link" href="/ci/content/player/885815.html">SIR Dunkley</a> (ENG-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>78</b></td>
<td class="padAst" nowrap="nowrap">34</td>
<td nowrap="nowrap">15.60</td>
<td nowrap="nowrap">55</td>
<td nowrap="nowrap">141.81</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">12</td>
<td nowrap="nowrap">1</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 30"><a class="data-link" href="/ci/content/player/487007.html">S Luus</a> (SA-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap"><b>75</b></td>
<td class="padAst" nowrap="nowrap">28</td>
<td nowrap="nowrap">18.75</td>
<td nowrap="nowrap">77</td>
<td nowrap="nowrap">97.40</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">1</td>
</tr>, <tr class="data1" data-days="738940">
<td class="left" nowrap="nowrap" title="record rank: 31"><a class="data-link" href="/ci/content/player/1187120.html">A Capsey</a> (ENG-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>73</b></td>
<td class="padAst" nowrap="nowrap">51</td>
<td nowrap="nowrap">14.60</td>
<td nowrap="nowrap">48</td>
<td nowrap="nowrap">152.08</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">14</td>
<td nowrap="nowrap">1</td>
</tr>, <tr class="data1" data-days="738937">
<td class="left" nowrap="nowrap" title="record rank: 32"><a class="data-link" href="/ci/content/player/333355.html">Nida Dar</a> (PAK-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>71</b></td>
<td class="padAst" nowrap="nowrap">33</td>
<td nowrap="nowrap">17.75</td>
<td nowrap="nowrap">75</td>
<td nowrap="nowrap">94.66</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">1</td>
</tr>, <tr class="data1" data-days="738937">
<td class="left" nowrap="nowrap" title="record rank: 33"><a class="data-link" href="/ci/content/player/1145089.html">S Mostary</a> (BD-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap"><b>67</b></td>
<td class="padAst" nowrap="nowrap">29</td>
<td nowrap="nowrap">16.75</td>
<td nowrap="nowrap">88</td>
<td nowrap="nowrap">76.13</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">9</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 34"><a class="data-link" href="/ci/content/player/381311.html">TM McGrath</a> (AUS-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">3</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap"><b>66</b></td>
<td class="padAst" nowrap="nowrap">57</td>
<td nowrap="nowrap">33.00</td>
<td nowrap="nowrap">41</td>
<td nowrap="nowrap">160.97</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">11</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738935">

In [5]:
for tr in table_body:                         #i used for loop to extrac content rowise and put that in list
    table_data=[  td.text.strip() for td in tr.find_all("td")]  
    print(table_data)

['L Wolvaardt (SA-W)', '6', '6', '1', '230', '66*', '46.00', '216', '106.48', '0', '3', '0', '22', '5']
['Nat Sciver-Brunt (ENG-W)', '5', '5', '2', '216', '81*', '72.00', '153', '141.17', '0', '2', '0', '28', '2']
['BL Mooney (AUS-W)', '6', '6', '2', '206', '74*', '51.50', '175', '117.71', '0', '3', '1', '26', '2']
['AJ Healy (AUS-W)', '5', '5', '1', '189', '55', '47.25', '163', '115.95', '0', '2', '0', '25', '2']
['T Brits (SA-W)', '6', '6', '1', '186', '68', '37.20', '179', '103.91', '0', '2', '0', '19', '3']
['S Mandhana (IND-W)', '4', '4', '0', '151', '87', '37.75', '109', '138.53', '0', '2', '0', '18', '4']
['MM Lanning (AUS-W)', '6', '5', '2', '149', '49*', '49.66', '131', '113.74', '0', '0', '0', '16', '2']
['SW Bates (NZ-W)', '4', '4', '1', '137', '81*', '45.66', '113', '121.23', '0', '2', '2', '13', '1']
['RM Ghosh (IND-W)', '5', '5', '3', '136', '47*', '68.00', '104', '130.76', '0', '0', '1', '15', '2']
['HK Matthews (WI-W)', '4', '4', '1', '130', '66*', '43.33', '112', '116.07', '0', '1', '0', '19', '1']
['JI Rodrigues (IND-W)', '5', '5', '1', '129', '53*', '32.25', '95', '135.78', '0', '1', '0', '17', '0']
['Nigar Sultana (BD-W)', '4', '4', '0', '123', '57', '30.75', '132', '93.18', '0', '1', '0', '10', '1']
['Muneeba Ali (PAK-W)', '4', '4', '0', '122', '102', '30.50', '103', '118.44', '1', '0', '0', '15', '0']
['DN Wyatt (ENG-W)', '5', '5', '0', '120', '59', '24.00', '86', '139.53', '0', '1', '1', '16', '3']
['H Madavi (SL-W)', '4', '4', '1', '119', '69*', '39.66', '124', '95.96', '0', '1', '0', '12', '1']
['AMCJK Athapaththu (SL-W)', '4', '4', '0', '118', '68', '29.50', '104', '113.46', '0', '1', '0', '19', '1']
['H Kaur (IND-W)', '5', '5', '0', '118', '52', '23.60', '114', '103.50', '0', '1', '0', '11', '1']
['GH Lewis (IRE-W)', '4', '4', '1', '116', '38', '38.66', '111', '104.50', '0', '0', '0', '17', '0']
['AC Kerr (NZ-W)', '4', '4', '0', '113', '66', '28.25', '103', '109.70', '0', '1', '0', '12', '0']
['A Gardner (AUS-W)', '6', '5', '2', '110', '31', '36.66', '92', '119.56', '0', '0', '0', '12', '2']
['O Prendergast (IRE-W)', '4', '4', '0', '109', '61', '27.25', '87', '125.28', '0', '1', '1', '12', '2']
['HC Knight (ENG-W)', '5', '5', '1', '109', '32*', '27.25', '99', '110.10', '0', '0', '0', '9', '3']
['Shafali Verma (IND-W)', '5', '5', '0', '102', '33', '20.40', '94', '108.51', '0', '0', '0', '14', '0']
['AE Jones (ENG-W)', '5', '4', '0', '101', '47', '25.25', '73', '138.35', '0', '0', '0', '9', '3']
['Bismah Maroof (PAK-W)', '3', '3', '1', '98', '68*', '49.00', '94', '104.25', '0', '1', '0', '9', '0']
['SA Campbelle (WI-W)', '4', '4', '0', '94', '34', '23.50', '109', '86.23', '0', '0', '0', '9', '0']
['B Bezuidenhout (NZ-W)', '4', '4', '0', '90', '44', '22.50', '58', '155.17', '0', '0', '1', '13', '0']
['CL Tryon (SA-W)', '6', '5', '0', '79', '40', '15.80', '73', '108.21', '0', '0', '0', '10', '1']
['SIR Dunkley (ENG-W)', '5', '5', '0', '78', '34', '15.60', '55', '141.81', '0', '0', '0', '12', '1']
['S Luus (SA-W)', '6', '5', '1', '75', '28', '18.75', '77', '97.40', '0', '0', '0', '5', '1']
['A Capsey (ENG-W)', '5', '5', '0', '73', '51', '14.60', '48', '152.08', '0', '1', '1', '14', '1']
['Nida Dar (PAK-W)', '4', '4', '0', '71', '33', '17.75', '75', '94.66', '0', '0', '1', '5', '1']
['S Mostary (BD-W)', '4', '4', '0', '67', '29', '16.75', '88', '76.13', '0', '0', '0', '9', '0']
['TM McGrath (AUS-W)', '6', '3', '1', '66', '57', '33.00', '41', '160.97', '0', '1', '0', '11', '0']
['CA Henry (WI-W)', '4', '4', '0', '61', '34', '15.25', '55', '110.90', '0', '0', '0', '8', '0']
['NND de Silva (SL-W)', '4', '4', '2', '60', '41*', '30.00', '54', '111.11', '0', '0', '1', '4', '0']
['ML Green (NZ-W)', '4', '4', '2', '60', '44*', '30.00', '42', '142.85', '0', '0', '0', '7', '0']
['RMVD Gunaratne (SL-W)', '4', '4', '0', '60', '35', '15.00', '74', '81.08', '0', '0', '1', '5', '0']
['EA Perry (AUS-W)', '6', '4', '1', '60', '40', '20.00', '37', '162.16', '0', '0', '0', '6', '2']
['Shorna Akter (BD-W)', '4', '4', '0', '59', '31', '14.75', '66', '89.39', '0', '0', '0', '6', '0']
['M Kapp (SA-W)', '6', '5', '1', '58', '27*', '14.50', '48', '120.83', '0', '0', '1', '9', '0']
['N de Klerk (SA-W)', '6', '5', '3', '57', '28*', '28.50', '62', '91.93', '0', '0', '1', '2', '1']
['Ayesha Naseem (PAK-W)', '2', '2', '1', '49', '43*', '49.00', '27', '181.48', '0', '0', '0', '2', '3']
['RS Williams (WI-W)', '4', '3', '1', '49', '30', '24.50', '56', '87.50', '0', '0', '0', '5', '0']
['Shamima Sultana (BD-W)', '4', '4', '0', '46', '20', '11.50', '44', '104.54', '0', '0', '0', '6', '1']
['SR Taylor (WI-W)', '2', '2', '0', '45', '42', '22.50', '55', '81.81', '0', '0', '0', '6', '0']
['EAJ Richardson (IRE-W)', '4', '3', '0', '43', '28', '14.33', '37', '116.21', '0', '0', '1', '7', '0']
['S Gajnabi (WI-W)', '4', '4', '0', '43', '15', '10.75', '38', '113.15', '0', '0', '0', '4', '0']
['L Delany (IRE-W)', '4', '4', '1', '38', '17*', '12.66', '52', '73.07', '0', '0', '0', '4', '0']

In [6]:
#here i am using csv to creat a report and store the table head and table body what i extra from website


with open("player_most_run_report(1).csv","w",newline="") as csv_file:
    csv_write=csv.writer(csv_file)
    csv_write.writerow(table_head)
    
    for tr in table_body:
        table_data=[  td.text.strip() for td in tr.find_all("td")]  
        csv_write.writerow(table_data)

In [8]:

tf=pd.read_csv("C:/Users/Kaleeshwaran D/Desktop/python learing/project/project criket analysis/player_most_run_report(1).csv")
tf.head()

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,L Wolvaardt (SA-W),6,6,1,230,66*,46.00,216,106.48,0,3,0,22,5
1,Nat Sciver-Brunt (ENG-W),5,5,2,216,81*,72.00,153,141.17,0,2,0,28,2
2,BL Mooney (AUS-W),6,6,2,206,74*,51.50,175,117.71,0,3,1,26,2
3,AJ Healy (AUS-W),5,5,1,189,55,47.25,163,115.95,0,2,0,25,2
4,T Brits (SA-W),6,6,1,186,68,37.20,179,103.91,0,2,0,19,3

### extrac bowling performance

In [11]:
#table 2 most wciket
req=requests.get("https://stats.espncricinfo.com/ci/engine/records/bowling/most_wickets_career.html?id=15029;type=tournament")
#with the help of request i get html  data 
soup=BeautifulSoup(req.content,"html.parser")
#with the help of bs4 i parser the html file
table1=soup.table # table is used here for store the table content
#print(table) if you to see that please print that
thead1=table1.find("thead").find_all('th') #using find function for find table head 
print(thead1)

[<th class="left" nowrap="nowrap" title="player name">Player</th>, <th class="padAst" nowrap="nowrap" title="matches played">Mat</th>, <th nowrap="nowrap" title="innings bowled">Inns</th>, <th nowrap="nowrap" title="overs bowled">Overs</th>, <th nowrap="nowrap" title="maidens earned">Mdns</th>, <th nowrap="nowrap" title="runs conceded">Runs</th>, <th nowrap="nowrap" title="wickets taken"><b>Wkts</b></th>, <th nowrap="nowrap" title="best innings bowling">BBI</th>, <th nowrap="nowrap" title="bowling average">Ave</th>, <th nowrap="nowrap" title="economy rate">Econ</th>, <th nowrap="nowrap" title="bowling strike rate">SR</th>, <th nowrap="nowrap" title="four wkts in an inns">4</th>, <th nowrap="nowrap" title="five wkts in an inns">5</th>]

In [12]:
table_head1= [th.text for th in thead1] #using for loop to extrac the table head put that into list
print(table_head1)

['Player', 'Mat', 'Inns', 'Overs', 'Mdns', 'Runs', 'Wkts', 'BBI', 'Ave', 'Econ', 'SR', '4', '5']

In [13]:
table_body1 = table1.find("tbody").find_all("tr") #here i used find for find table body
print(table_body1)

[<tr class="data1" data-days="738940">
<td class="left" nowrap="nowrap" title="record rank: 1"><a class="data-link" href="/ci/content/player/878039.html">S Ecclestone</a> (ENG-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">20.0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">83</td>
<td nowrap="nowrap"><b>11</b></td>
<td nowrap="nowrap">3/13</td>
<td nowrap="nowrap">7.54</td>
<td nowrap="nowrap">4.15</td>
<td nowrap="nowrap">10.9</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 2"><a class="data-link" href="/ci/content/player/858809.html">A Gardner</a> (AUS-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">6</td>
<td nowrap="nowrap">20.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">125</td>
<td nowrap="nowrap"><b>10</b></td>
<td nowrap="nowrap">5/12</td>
<td nowrap="nowrap">12.50</td>
<td nowrap="nowrap">6.25</td>
<td nowrap="nowrap">12.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 2"><a class="data-link" href="/ci/content/player/420314.html">M Schutt</a> (AUS-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">6</td>
<td nowrap="nowrap">22.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">135</td>
<td nowrap="nowrap"><b>10</b></td>
<td nowrap="nowrap">4/24</td>
<td nowrap="nowrap">13.50</td>
<td nowrap="nowrap">6.13</td>
<td nowrap="nowrap">13.2</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 4"><a class="data-link" href="/ci/content/player/351836.html">M Kapp</a> (SA-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">6</td>
<td nowrap="nowrap">22.1</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">139</td>
<td nowrap="nowrap"><b>9</b></td>
<td nowrap="nowrap">2/13</td>
<td nowrap="nowrap">15.44</td>
<td nowrap="nowrap">6.27</td>
<td nowrap="nowrap">14.7</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 5"><a class="data-link" href="/ci/content/player/380929.html">LMM Tahuhu</a> (NZ-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">15.0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">95</td>
<td nowrap="nowrap"><b>8</b></td>
<td nowrap="nowrap">3/37</td>
<td nowrap="nowrap">11.87</td>
<td nowrap="nowrap">6.33</td>
<td nowrap="nowrap">11.2</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 5"><a class="data-link" href="/ci/content/player/276997.html">S Ismail</a> (SA-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">6</td>
<td nowrap="nowrap">22.0</td>
<td nowrap="nowrap">3</td>
<td nowrap="nowrap">129</td>
<td nowrap="nowrap"><b>8</b></td>
<td nowrap="nowrap">3/27</td>
<td nowrap="nowrap">16.12</td>
<td nowrap="nowrap">5.86</td>
<td nowrap="nowrap">16.5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738937">
<td class="left" nowrap="nowrap" title="record rank: 7"><a class="data-link" href="/ci/content/player/941803.html">Nashra Sandhu</a> (PAK-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">16.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">98</td>
<td nowrap="nowrap"><b>7</b></td>
<td nowrap="nowrap">4/18</td>
<td nowrap="nowrap">14.00</td>
<td nowrap="nowrap">6.12</td>
<td nowrap="nowrap">13.7</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 7"><a class="data-link" href="/ci/content/player/388845.html">D Brown</a> (AUS-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">6</td>
<td nowrap="nowrap">21.0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">105</td>
<td nowrap="nowrap"><b>7</b></td>
<td nowrap="nowrap">2/18</td>
<td nowrap="nowrap">15.00</td>
<td nowrap="nowrap">5.00</td>
<td nowrap="nowrap">18.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 7"><a class="data-link" href="/ci/content/player/387261.html">A Khaka</a> (SA-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">19.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">107</td>
<td nowrap="nowrap"><b>7</b></td>
<td nowrap="nowrap">4/29</td>
<td nowrap="nowrap">15.28</td>
<td nowrap="nowrap">5.63</td>
<td nowrap="nowrap">16.2</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738940">
<td class="left" nowrap="nowrap" title="record rank: 7"><a class="data-link" href="/ci/content/player/885837.html">S Glenn</a> (ENG-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">18.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">109</td>
<td nowrap="nowrap"><b>7</b></td>
<td nowrap="nowrap">3/19</td>
<td nowrap="nowrap">15.57</td>
<td nowrap="nowrap">6.05</td>
<td nowrap="nowrap">15.4</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738939">
<td class="left" nowrap="nowrap" title="record rank: 7"><a class="data-link" href="/ci/content/player/960853.html">Renuka Singh</a> (IND-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">17.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">112</td>
<td nowrap="nowrap"><b>7</b></td>
<td nowrap="nowrap">5/15</td>
<td nowrap="nowrap">16.00</td>
<td nowrap="nowrap">6.58</td>
<td nowrap="nowrap">14.5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">1</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 12"><a class="data-link" href="/ci/content/player/1169661.html">EJ Carson</a> (NZ-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">11.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">68</td>
<td nowrap="nowrap"><b>6</b></td>
<td nowrap="nowrap">3/18</td>
<td nowrap="nowrap">11.33</td>
<td nowrap="nowrap">6.18</td>
<td nowrap="nowrap">11.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 12"><a class="data-link" href="/ci/content/player/803971.html">AC Kerr</a> (NZ-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">14.5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">75</td>
<td nowrap="nowrap"><b>6</b></td>
<td nowrap="nowrap">3/23</td>
<td nowrap="nowrap">12.50</td>
<td nowrap="nowrap">5.05</td>
<td nowrap="nowrap">14.8</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 12"><a class="data-link" href="/ci/content/player/946057.html">G Wareham</a> (AUS-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">16.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">108</td>
<td nowrap="nowrap"><b>6</b></td>
<td nowrap="nowrap">3/20</td>
<td nowrap="nowrap">18.00</td>
<td nowrap="nowrap">6.75</td>
<td nowrap="nowrap">16.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738939">
<td class="left" nowrap="nowrap" title="record rank: 12"><a class="data-link" href="/ci/content/player/597811.html">DB Sharma</a> (IND-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">17.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">132</td>
<td nowrap="nowrap"><b>6</b></td>
<td nowrap="nowrap">3/15</td>
<td nowrap="nowrap">22.00</td>
<td nowrap="nowrap">7.76</td>
<td nowrap="nowrap">17.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 12"><a class="data-link" href="/ci/content/player/971203.html">N Mlaba</a> (SA-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">6</td>
<td nowrap="nowrap">22.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">145</td>
<td nowrap="nowrap"><b>6</b></td>
<td nowrap="nowrap">3/10</td>
<td nowrap="nowrap">24.16</td>
<td nowrap="nowrap">6.59</td>
<td nowrap="nowrap">22.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 17"><a class="data-link" href="/ci/content/player/769517.html">K Ramharack</a> (WI-W)</td>
<td class="padAst" nowrap="nowrap">3</td>
<td nowrap="nowrap">3</td>
<td nowrap="nowrap">12.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">50</td>
<td nowrap="nowrap"><b>5</b></td>
<td nowrap="nowrap">2/14</td>
<td nowrap="nowrap">10.00</td>
<td nowrap="nowrap">4.16</td>
<td nowrap="nowrap">14.4</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 17"><a class="data-link" href="/ci/content/player/434844.html">I Ranaweera</a> (SL-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">15.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">89</td>
<td nowrap="nowrap"><b>5</b></td>
<td nowrap="nowrap">3/18</td>
<td nowrap="nowrap">17.80</td>
<td nowrap="nowrap">5.93</td>
<td nowrap="nowrap">18.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738936">
<td class="left" nowrap="nowrap" title="record rank: 17"><a class="data-link" href="/ci/content/player/418420.html">L Delany</a> (IRE-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">11.5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">90</td>
<td nowrap="nowrap"><b>5</b></td>
<td nowrap="nowrap">3/33</td>
<td nowrap="nowrap">18.00</td>
<td nowrap="nowrap">7.60</td>
<td nowrap="nowrap">14.2</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 17"><a class="data-link" href="/ci/content/player/429180.html">OU Ranasinghe</a> (SL-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">14.5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">98</td>
<td nowrap="nowrap"><b>5</b></td>
<td nowrap="nowrap">3/23</td>
<td nowrap="nowrap">19.60</td>
<td nowrap="nowrap">6.60</td>
<td nowrap="nowrap">17.8</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738937">
<td class="left" nowrap="nowrap" title="record rank: 17"><a class="data-link" href="/ci/content/player/333355.html">Nida Dar</a> (PAK-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">15.0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">101</td>
<td nowrap="nowrap"><b>5</b></td>
<td nowrap="nowrap">2/5</td>
<td nowrap="nowrap">20.20</td>
<td nowrap="nowrap">6.73</td>
<td nowrap="nowrap">18.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738937">
<td class="left" nowrap="nowrap" title="record rank: 17"><a class="data-link" href="/ci/content/player/1204917.html">Sadia Iqbal</a> (PAK-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">15.3</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">101</td>
<td nowrap="nowrap"><b>5</b></td>
<td nowrap="nowrap">2/17</td>
<td nowrap="nowrap">20.20</td>
<td nowrap="nowrap">6.51</td>
<td nowrap="nowrap">18.6</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 23"><a class="data-link" href="/ci/content/player/474308.html">HK Matthews</a> (WI-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">14.0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">89</td>
<td nowrap="nowrap"><b>4</b></td>
<td nowrap="nowrap">2/14</td>
<td nowrap="nowrap">22.25</td>
<td nowrap="nowrap">6.35</td>
<td nowrap="nowrap">21.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 23"><a class="data-link" href="/ci/content/player/355351.html">ASS Fletcher</a> (WI-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">13.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">93</td>
<td nowrap="nowrap"><b>4</b></td>
<td nowrap="nowrap">2/21</td>
<td nowrap="nowrap">23.25</td>
<td nowrap="nowrap">7.15</td>
<td nowrap="nowrap">19.5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 23"><a class="data-link" href="/ci/content/player/474191.html">SS Connell</a> (WI-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">12.1</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">101</td>
<td nowrap="nowrap"><b>4</b></td>
<td nowrap="nowrap">3/24</td>
<td nowrap="nowrap">25.25</td>
<td nowrap="nowrap">8.30</td>
<td nowrap="nowrap">18.2</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738937">
<td class="left" nowrap="nowrap" title="record rank: 23"><a class="data-link" href="/ci/content/player/1332561.html">Marufa Akter</a> (BD-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">16.0</td>
<td nowrap="nowrap">1</td>
<td nowrap="nowrap">101</td>
<td nowrap="nowrap"><b>4</b></td>
<td nowrap="nowrap">3/23</td>
<td nowrap="nowrap">25.25</td>
<td nowrap="nowrap">6.31</td>
<td nowrap="nowrap">24.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738936">
<td class="left" nowrap="nowrap" title="record rank: 23"><a class="data-link" href="/ci/content/player/592593.html">AN Kelly</a> (IRE-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">14.2</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">104</td>
<td nowrap="nowrap"><b>4</b></td>
<td nowrap="nowrap">2/27</td>
<td nowrap="nowrap">26.00</td>
<td nowrap="nowrap">7.25</td>
<td nowrap="nowrap">21.5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738937">
<td class="left" nowrap="nowrap" title="record rank: 23"><a class="data-link" href="/ci/content/player/1144886.html">Fatima Sana</a> (PAK-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">12.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">115</td>
<td nowrap="nowrap"><b>4</b></td>
<td nowrap="nowrap">2/44</td>
<td nowrap="nowrap">28.75</td>
<td nowrap="nowrap">9.58</td>
<td nowrap="nowrap">18.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738940">
<td class="left" nowrap="nowrap" title="record rank: 23"><a class="data-link" href="/ci/content/player/53906.html">K Sciver-Brunt</a> (ENG-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">16.2</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">123</td>
<td nowrap="nowrap"><b>4</b></td>
<td nowrap="nowrap">2/14</td>
<td nowrap="nowrap">30.75</td>
<td nowrap="nowrap">7.53</td>
<td nowrap="nowrap">24.5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738940">
<td class="left" nowrap="nowrap" title="record rank: 23"><a class="data-link" href="/ci/content/player/1039421.html">CE Dean</a> (ENG-W)</td>
<td class="padAst" nowrap="nowrap">5</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">17.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">131</td>
<td nowrap="nowrap"><b>4</b></td>
<td nowrap="nowrap">2/26</td>
<td nowrap="nowrap">32.75</td>
<td nowrap="nowrap">7.70</td>
<td nowrap="nowrap">25.5</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738935">
<td class="left" nowrap="nowrap" title="record rank: 31"><a class="data-link" href="/ci/content/player/543550.html">HM Rowe</a> (NZ-W)</td>
<td class="padAst" nowrap="nowrap">3</td>
<td nowrap="nowrap">2</td>
<td nowrap="nowrap">6.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">27</td>
<td nowrap="nowrap"><b>3</b></td>
<td nowrap="nowrap">2/15</td>
<td nowrap="nowrap">9.00</td>
<td nowrap="nowrap">4.50</td>
<td nowrap="nowrap">12.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 31"><a class="data-link" href="/ci/content/player/275487.html">EA Perry</a> (AUS-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">6</td>
<td nowrap="nowrap">8.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">49</td>
<td nowrap="nowrap"><b>3</b></td>
<td nowrap="nowrap">1/4</td>
<td nowrap="nowrap">16.33</td>
<td nowrap="nowrap">6.12</td>
<td nowrap="nowrap">16.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738939">
<td class="left" nowrap="nowrap" title="record rank: 31"><a class="data-link" href="/ci/content/player/442145.html">S Pandey</a> (IND-W)</td>
<td class="padAst" nowrap="nowrap">3</td>
<td nowrap="nowrap">3</td>
<td nowrap="nowrap">10.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">66</td>
<td nowrap="nowrap"><b>3</b></td>
<td nowrap="nowrap">2/32</td>
<td nowrap="nowrap">22.00</td>
<td nowrap="nowrap">6.60</td>
<td nowrap="nowrap">20.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738942">
<td class="left" nowrap="nowrap" title="record rank: 31"><a class="data-link" href="/ci/content/player/453370.html">CL Tryon</a> (SA-W)</td>
<td class="padAst" nowrap="nowrap">6</td>
<td nowrap="nowrap">5</td>
<td nowrap="nowrap">10.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">71</td>
<td nowrap="nowrap"><b>3</b></td>
<td nowrap="nowrap">2/12</td>
<td nowrap="nowrap">23.66</td>
<td nowrap="nowrap">7.10</td>
<td nowrap="nowrap">20.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738936">
<td class="left" nowrap="nowrap" title="record rank: 31"><a class="data-link" href="/ci/content/player/1135028.html">C Murray</a> (IRE-W)</td>
<td class="padAst" nowrap="nowrap">4</td>
<td nowrap="nowrap">4</td>
<td nowrap="nowrap">9.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">74</td>
<td nowrap="nowrap"><b>3</b></td>
<td nowrap="nowrap">3/15</td>
<td nowrap="nowrap">24.66</td>
<td nowrap="nowrap">8.22</td>
<td nowrap="nowrap">18.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738937">
<td class="left" nowrap="nowrap" title="record rank: 31"><a class="data-link" href="/ci/content/player/1204959.html">Tuba Hassan</a> (PAK-W)</td>
<td class="padAst" nowrap="nowrap">3</td>
<td nowrap="nowrap">3</td>
<td nowrap="nowrap">10.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">75</td>
<td nowrap="nowrap"><b>3</b></td>
<td nowrap="nowrap">1/13</td>
<td nowrap="nowrap">25.00</td>
<td nowrap="nowrap">7.50</td>
<td nowrap="nowrap">20.0</td>
<td nowrap="nowrap">0</td>
<td nowrap="nowrap">0</td>
</tr>, <tr class="data1" data-days="738936">

In [14]:
for tr in table_body1:     #i used for loop to extrac content rowise and put that in list
    table_data1=[  td.text.strip() for td in tr.find_all("td")]  
    print(table_data1)

['S Ecclestone (ENG-W)', '5', '5', '20.0', '1', '83', '11', '3/13', '7.54', '4.15', '10.9', '0', '0']
['A Gardner (AUS-W)', '6', '6', '20.0', '0', '125', '10', '5/12', '12.50', '6.25', '12.0', '0', '1']
['M Schutt (AUS-W)', '6', '6', '22.0', '0', '135', '10', '4/24', '13.50', '6.13', '13.2', '1', '0']
['M Kapp (SA-W)', '6', '6', '22.1', '0', '139', '9', '2/13', '15.44', '6.27', '14.7', '0', '0']
['LMM Tahuhu (NZ-W)', '4', '4', '15.0', '1', '95', '8', '3/37', '11.87', '6.33', '11.2', '0', '0']
['S Ismail (SA-W)', '6', '6', '22.0', '3', '129', '8', '3/27', '16.12', '5.86', '16.5', '0', '0']
['Nashra Sandhu (PAK-W)', '4', '4', '16.0', '0', '98', '7', '4/18', '14.00', '6.12', '13.7', '1', '0']
['D Brown (AUS-W)', '6', '6', '21.0', '1', '105', '7', '2/18', '15.00', '5.00', '18.0', '0', '0']
['A Khaka (SA-W)', '5', '5', '19.0', '0', '107', '7', '4/29', '15.28', '5.63', '16.2', '1', '0']
['S Glenn (ENG-W)', '5', '5', '18.0', '0', '109', '7', '3/19', '15.57', '6.05', '15.4', '0', '0']
['Renuka Singh (IND-W)', '5', '5', '17.0', '0', '112', '7', '5/15', '16.00', '6.58', '14.5', '0', '1']
['EJ Carson (NZ-W)', '4', '4', '11.0', '0', '68', '6', '3/18', '11.33', '6.18', '11.0', '0', '0']
['AC Kerr (NZ-W)', '4', '4', '14.5', '0', '75', '6', '3/23', '12.50', '5.05', '14.8', '0', '0']
['G Wareham (AUS-W)', '5', '5', '16.0', '0', '108', '6', '3/20', '18.00', '6.75', '16.0', '0', '0']
['DB Sharma (IND-W)', '5', '5', '17.0', '0', '132', '6', '3/15', '22.00', '7.76', '17.0', '0', '0']
['N Mlaba (SA-W)', '6', '6', '22.0', '0', '145', '6', '3/10', '24.16', '6.59', '22.0', '0', '0']
['K Ramharack (WI-W)', '3', '3', '12.0', '0', '50', '5', '2/14', '10.00', '4.16', '14.4', '0', '0']
['I Ranaweera (SL-W)', '4', '4', '15.0', '0', '89', '5', '3/18', '17.80', '5.93', '18.0', '0', '0']
['L Delany (IRE-W)', '4', '4', '11.5', '0', '90', '5', '3/33', '18.00', '7.60', '14.2', '0', '0']
['OU Ranasinghe (SL-W)', '4', '4', '14.5', '0', '98', '5', '3/23', '19.60', '6.60', '17.8', '0', '0']
['Nida Dar (PAK-W)', '4', '4', '15.0', '1', '101', '5', '2/5', '20.20', '6.73', '18.0', '0', '0']
['Sadia Iqbal (PAK-W)', '4', '4', '15.3', '0', '101', '5', '2/17', '20.20', '6.51', '18.6', '0', '0']
['HK Matthews (WI-W)', '4', '4', '14.0', '1', '89', '4', '2/14', '22.25', '6.35', '21.0', '0', '0']
['ASS Fletcher (WI-W)', '4', '4', '13.0', '0', '93', '4', '2/21', '23.25', '7.15', '19.5', '0', '0']
['SS Connell (WI-W)', '4', '4', '12.1', '0', '101', '4', '3/24', '25.25', '8.30', '18.2', '0', '0']
['Marufa Akter (BD-W)', '4', '4', '16.0', '1', '101', '4', '3/23', '25.25', '6.31', '24.0', '0', '0']
['AN Kelly (IRE-W)', '4', '4', '14.2', '0', '104', '4', '2/27', '26.00', '7.25', '21.5', '0', '0']
['Fatima Sana (PAK-W)', '4', '4', '12.0', '0', '115', '4', '2/44', '28.75', '9.58', '18.0', '0', '0']
['K Sciver-Brunt (ENG-W)', '5', '5', '16.2', '0', '123', '4', '2/14', '30.75', '7.53', '24.5', '0', '0']
['CE Dean (ENG-W)', '5', '5', '17.0', '0', '131', '4', '2/26', '32.75', '7.70', '25.5', '0', '0']
['HM Rowe (NZ-W)', '3', '2', '6.0', '0', '27', '3', '2/15', '9.00', '4.50', '12.0', '0', '0']
['EA Perry (AUS-W)', '6', '6', '8.0', '0', '49', '3', '1/4', '16.33', '6.12', '16.0', '0', '0']
['S Pandey (IND-W)', '3', '3', '10.0', '0', '66', '3', '2/32', '22.00', '6.60', '20.0', '0', '0']
['CL Tryon (SA-W)', '6', '5', '10.0', '0', '71', '3', '2/12', '23.66', '7.10', '20.0', '0', '0']
['C Murray (IRE-W)', '4', '4', '9.0', '0', '74', '3', '3/15', '24.66', '8.22', '18.0', '0', '0']
['Tuba Hassan (PAK-W)', '3', '3', '10.0', '0', '75', '3', '1/13', '25.00', '7.50', '20.0', '0', '0']
['O Prendergast (IRE-W)', '4', '4', '13.0', '0', '78', '3', '2/22', '26.00', '6.00', '26.0', '0', '0']
['LK Bell (ENG-W)', '4', '4', '13.0', '0', '80', '3', '1/17', '26.66', '6.15', '26.0', '0', '0']
['RP Yadav (IND-W)', '4', '4', '13.0', '0', '91', '3', '2/21', '30.33', '7.00', '26.0', '0', '0']
['CA Henry (WI-W)', '4', '4', '13.3', '1', '99', '3', '2/30', '33.00', '7.33', '27.0', '0', '0']

In [15]:
#here i am using csv to creat a report and store the table head and table body what i extra from website


with open("player_best_bowling_report(2).csv","w",newline="") as csv_file:
    csv_write=csv.writer(csv_file)
    csv_write.writerow(table_head1)
    
    for tr in table_body1:
        table_data1=[  td.text.strip() for td in tr.find_all("td")]  
        csv_write.writerow(table_data1)

In [23]:

tf1=pd.read_csv("C:/Users/Kaleeshwaran D/Desktop/python learing/project/project criket analysis/player_best_bowling_report(2).csv")
tf1.head()

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
0,S Ecclestone (ENG-W),5,5,20.0,1,83,11,3/13,7.54,4.15,10.9,0,0
1,A Gardner (AUS-W),6,6,20.0,0,125,10,5/12,12.50,6.25,12.0,0,1
2,M Schutt (AUS-W),6,6,22.0,0,135,10,4/24,13.50,6.13,13.2,1,0
3,M Kapp (SA-W),6,6,22.1,0,139,9,2/13,15.44,6.27,14.7,0,0
4,LMM Tahuhu (NZ-W),4,4,15.0,1,95,8,3/37,11.87,6.33,11.2,0,0

In [17]:
#table 2 most wciket
req=requests.get("https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?id=15029;type=tournament")
#with the help of request i get html  data 
soup=BeautifulSoup(req.content,"html.parser")
#with the help of bs4 i parser the html file
table2=soup.table # table is used here for store the table content
#print(table) if you to see that please print that
thead2=table2.find("thead").find_all('th') #using find function for find table head 
#print(thead1)
table_head2= [th.text for th in thead2] #using for loop to extrac the table head put that into list
#print(table_head2)
table_body2 = table2.find("tbody").find_all("tr") #here i used find for find table body
#print(table_body1)
for tr in table_body2:     #i used for loop to extrac content rowise and put that in list
    table_data2=[  td.text.strip() for td in tr.find_all("td")]  
    #print(table_data2)
#here i am using csv to creat a report and store the table head and table body what i extra from website


with open("match_summary_report(3).csv","w",newline="") as csv_file:
    csv_write=csv.writer(csv_file)
    csv_write.writerow(table_head2)
    
    for tr in table_body2:
        table_data2=[  td.text.strip() for td in tr.find_all("td")]  
        csv_write.writerow(table_data2)

In [22]:

tf2=pd.read_csv("C:/Users/Kaleeshwaran D/Desktop/python learing/project/project criket analysis/match_summary_report(3).csv")
tf.head()

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,L Wolvaardt (SA-W),6,6,1,230,66*,46.00,216,106.48,0,3,0,22,5
1,Nat Sciver-Brunt (ENG-W),5,5,2,216,81*,72.00,153,141.17,0,2,0,28,2
2,BL Mooney (AUS-W),6,6,2,206,74*,51.50,175,117.71,0,3,1,26,2
3,AJ Healy (AUS-W),5,5,1,189,55,47.25,163,115.95,0,2,0,25,2
4,T Brits (SA-W),6,6,1,186,68,37.20,179,103.91,0,2,0,19,3

### based on batting and bowling performance i am creating allrounder table

In [ ]:
tf.set_index('Player', inplace = True) #set index as player

In [31]:
tf.head()   #this is batting performance

,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
Player,,,,,,,,,,,,,
L Wolvaardt (SA-W),6,6,1,230,66*,46.00,216,106.48,0,3,0,22,5
Nat Sciver-Brunt (ENG-W),5,5,2,216,81*,72.00,153,141.17,0,2,0,28,2
BL Mooney (AUS-W),6,6,2,206,74*,51.50,175,117.71,0,3,1,26,2
AJ Healy (AUS-W),5,5,1,189,55,47.25,163,115.95,0,2,0,25,2
T Brits (SA-W),6,6,1,186,68,37.20,179,103.91,0,2,0,19,3

In [30]:
tf1.head()   #this is bowing performance

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
0,S Ecclestone (ENG-W),5,5,20.0,1,83,11,3/13,7.54,4.15,10.9,0,0
1,A Gardner (AUS-W),6,6,20.0,0,125,10,5/12,12.50,6.25,12.0,0,1
2,M Schutt (AUS-W),6,6,22.0,0,135,10,4/24,13.50,6.13,13.2,1,0
3,M Kapp (SA-W),6,6,22.1,0,139,9,2/13,15.44,6.27,14.7,0,0
4,LMM Tahuhu (NZ-W),4,4,15.0,1,95,8,3/37,11.87,6.33,11.2,0,0

In [32]:
tf1.set_index('Player', inplace = True)  #set index as player
tf.head()

,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
Player,,,,,,,,,,,,,
L Wolvaardt (SA-W),6,6,1,230,66*,46.00,216,106.48,0,3,0,22,5
Nat Sciver-Brunt (ENG-W),5,5,2,216,81*,72.00,153,141.17,0,2,0,28,2
BL Mooney (AUS-W),6,6,2,206,74*,51.50,175,117.71,0,3,1,26,2
AJ Healy (AUS-W),5,5,1,189,55,47.25,163,115.95,0,2,0,25,2
T Brits (SA-W),6,6,1,186,68,37.20,179,103.91,0,2,0,19,3

### Cleaning the data and use inner merge to create allrounder performance table

In [38]:
allrounder = pd.merge(tf, tf1, left_index=True, right_index=True, how="inner")

In [39]:
allrounder

,Mat_x,Inns_x,NO,Runs_x,HS,Ave_x,BF,SR_x,100,50,...,Overs,Mdns,Runs_y,Wkts,BBI,Ave_y,Econ,SR_y,4,5
Player,,,,,,,,,,,,,,,,,,,,,
HK Matthews (WI-W),4,4,1,130,66*,43.33,112,116.07,0,1,...,14.0,1,89,4,2/14,22.25,6.35,21.0,0,0
AC Kerr (NZ-W),4,4,0,113,66,28.25,103,109.70,0,1,...,14.5,0,75,6,3/23,12.50,5.05,14.8,0,0
A Gardner (AUS-W),6,5,2,110,31,36.66,92,119.56,0,0,...,20.0,0,125,10,5/12,12.50,6.25,12.0,0,1
O Prendergast (IRE-W),4,4,0,109,61,27.25,87,125.28,0,1,...,13.0,0,78,3,2/22,26.00,6.00,26.0,0,0
CL Tryon (SA-W),6,5,0,79,40,15.80,73,108.21,0,0,...,10.0,0,71,3,2/12,23.66,7.10,20.0,0,0
Nida Dar (PAK-W),4,4,0,71,33,17.75,75,94.66,0,0,...,15.0,1,101,5,2/5,20.20,6.73,18.0,0,0
CA Henry (WI-W),4,4,0,61,34,15.25,55,110.90,0,0,...,13.3,1,99,3,2/30,33.00,7.33,27.0,0,0
EA Perry (AUS-W),6,4,1,60,40,20.00,37,162.16,0,0,...,8.0,0,49,3,1/4,16.33,6.12,16.0,0,0
M Kapp (SA-W),6,5,1,58,27*,14.50,48,120.83,0,0,...,22.1,0,139,9,2/13,15.44,6.27,14.7,0,0
L Delany (IRE-W),4,4,1,38,17*,12.66,52,73.07,0,0,...,11.5,0,90,5,3/33,18.00,7.60,14.2,0,0

# here i am setting setting some parameter to segregate players based on preformance  

*first i segreagate batting performance 

*second i segreagate allrounder performance 

*third i segreagate bolwing performance

# setting player based on this parameters i am going to select top 5 best batting performance


1) Batting average  greater than 30  #average runs score in the innings

2) strick rate  greater than 110   #strick rate means run scored per ball 

3) innings batting  greater than 4 #number of match played in the series

4) boundary  percentage  #number of boundary scored by the player

In [ ]:
## setting player based on this parameters i am going to select top 3 allrounder performance

1) Batting average  greater than 25  #average runs score in the innings

2) strick rate  greater than 115   #strick rate means run scored per ball 

3) innings batting  greater and equla than 4 #number of match played in the series

4) boundary  percentage  #number of boundary scored by the player

5) bowling economics below 7  # run given by player as per over

6) bowling strike rate below 20  #taking wicket as per ball bolwed

In [ ]:
## setting player based on this parameters i am going to select top 3 bolwing  performance

1) innings bolwed  greater and equla than 4 #number of match played in the series

2) bowling economics below  than 6.5  # run given by player as per over

3) bowling strike rate below   than 16  #taking wicket as per ball bolwed

4) bowling averege below than 20 # a player's bowling average is the number of runs they have conceded per wicket taken

5) dot ball percentage    # number of dot balls bowled by the palyer